.App {
  text-align: center;
}

main {
  width: 80%;
  margin: 50px auto;
}

.flex-title {
  display: flex;
  justify-content: space-between;
  text-align: start;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin-bottom: 70px;
}

.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer {
  margin: 50px 0;
}
