@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Righteous&display=swap');


:root {
  --main-font:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  --title-font: 'Righteous', cursive;
  --secondary-font: 'Comfortaa', cursive;
}

body {
  margin: 0;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

